$baseFontFamily: "Mulish", sans-serif;
$displayFontFamily: "Mulish", sans-serif;
$navBarFontFamily: "Mulish", sans-serif;
$extraLight: 200;
$light: 300;
$base: 400;
$bold: 500;
$extraBold: 600;
$black: 700;

$activeColor: #890620;
$accentColor: #efefef;

$darkBlue: #08415c;
$peach: #ebbab9;
$teal: #388697;

$gutter: 16px;

$menuColor: #388697;
